annotated-types==0.6.0
anyio==4.2.0
arrow==1.3.0
astroid==3.0.3
binaryornot==0.4.4
blinker==1.7.0
certifi==2023.11.17
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cookiecutter==1.7.3
dill==0.3.8
dnspython==2.5.0
email-validator==2.1.0.post1
fastapi==0.109.0
Flask==3.0.2
Flask-Cors==4.0.0
greenlet==3.0.3
h11==0.14.0
httptools==0.6.1
idna==3.6
iniconfig==2.0.0
isort==5.13.2
itsdangerous==2.1.2
Jinja2==3.1.3
jinja2-time==0.2.0
manage-fastapi==1.1.1
MarkupSafe==2.1.5
mccabe==0.7.0
packaging==23.2
platformdirs==4.2.0
pluggy==1.4.0
poyo==0.5.0
prompt-toolkit==3.0.43
pydantic==1.10.14
pydantic_core==2.16.1
pylint==3.0.3
pytest==8.0.1
python-dateutil==2.8.2
python-dotenv==1.0.1
python-slugify==8.0.3
pytube==15.0.0
PyYAML==6.0.1
questionary==1.10.0
redis==5.0.1
requests==2.31.0
six==1.16.0
sniffio==1.3.0
spotipy==2.23.0
SQLAlchemy==2.0.25
starlette==0.35.1
text-unidecode==1.3
tomlkit==0.12.3
typer==0.4.2
types-python-dateutil==2.8.19.20240106
typing_extensions==4.9.0
urllib3==2.2.0
uvicorn==0.27.0.post1
watchfiles==0.21.0
wcwidth==0.2.13
websockets==12.0
Werkzeug==3.0.1
