* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Rubik", sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    top: 50px;
    width: 100%;
}

nav {
    text-align: center;
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    letter-spacing: 1px;
    color: #333;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding-top: 150px;
    padding-bottom: 60px;
    min-height: calc(100vh - 120px);
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

button {
    width: 100%;
    margin-bottom: 20px;
    padding: 0.5rem 1rem;
    background-color: #ff6961;
    color: #fdfdfd;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

button:hover {
    background-color: #ff6061;
    transform: scale(1.02);
}

.video {
    display: none;
    height: auto;
    width: auto;
}