{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <label for="search">Enter link to a YouTube video:</label>
    </div>
    <div class="row">
        <div class="col-md-9 col-xs-12">
            <input type="text" class="form-control" name="search" id="search" placeholder="Enter URL">
        </div>
        <div class="col-md-3 col-xs-12">
            <button onclick="download(document.getElementById('search').value)">Download</button>
        </div>
        <div class="row mt-5 justify-content-center align-items-center">
            <div id="loader"></div>
            <div class="video-container text-center">
                <h3 id="error"></h3>
                <iframe id="video" src="">Video is unsupported in your browser.</iframe>
            </div>
        </div>
    </div>
{% endblock %}